.content-header {
    position: relative;
    padding: 30px 0px 30px 0px;
}
.content-header>h1 {
    margin: 0;
    font-size: 24px;
}
.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}