body {
  overflow-x: hidden;
  background-image:url('assets/background.png');
  position: relative;
  z-index: 1;
  background-size: cover;
  min-height: 100vh;
}
body:before {
  content: '';
  position: absolute;
  background: rgba(94, 168, 219, 0.49);
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  right: 0px;
}
.h-100v{
  height: 100vh;
}
.navbar .navbar-nav li{padding:5px 15px;}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.navbar-nav{flex-direction:unset !important;}
.no_records_found{text-align:center;}
.reset_button{margin-left:18px;}
.navbar{background-color:rgba(95,168,219,1) !important;padding: 16.5px 1rem !important;cursor: pointer;}
.sidebar-heading{background-color:rgba(95,168,219,1) !important;color:#fff;}
#sidebar-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  background: #5ea8db;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.navbar-toggler-icon{background-image:none !important;}
.btn-primary:hover{background-color:rgba(10,60,104,1) !important;cursor: pointer;outline-style: none !important;border-color:rgba(10,60,104,1) !important;}
.btn-primary{background-color:rgba(10,60,104,1) !important;cursor: pointer;border-color:rgba(10,60,104,1) !important;}
.page-item.active .page-link{background-color:rgba(10,60,104,1) !important;border-color: rgba(10,60,104,1);color:#fff !important;}
.page-link, .page-link{color:rgba(10,60,104,1) !important;}
#page-content-wrapper{width:100% !important;}
#search_form{margin-bottom: 30px;}

/** Buttons CSS **/
#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

nav.navbar{
  flex-direction: unset;
  padding: .65rem 1rem !important;
}
.logout_button {
  display: inline-flex;
  padding: 6px 20px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color:rgba(10,60,104,1);
}
.logout_button a{color:#BFC0C0;}
.logout_button a:hover{color:#fff;text-decoration:none;}
.show_error{background: rgba(95,168,219,1);color:#fff;text-align: center;color:#fb0000;font-size:14px;padding:5px;margin-bottom:16px;border: 2px solid rgba(95,168,219,1);}
.success_text{color:#fff !important;}
.sidebar-heading a{color:#fff;}
.sidebar-heading a:hover, a:focus{text-decoration:none !important;color:rgba(10,60,104,1) !important;}

#sidebar-wrapper .list-group-item{
  background: #254d74;
  color: #fff;
}
#sidebar-wrapper .list-group-item svg{
  color:#fff;
}
#sidebar-wrapper .list-group-item:hover{
  background: #fff;
  color:#254d74;
}
#sidebar-wrapper .list-group-item:hover svg{
  color:#254d74;
}
table{
  background: #fff !important;
}
table thead{
  background: #254d74;
  color: #fff;
}